* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    --primary-color: #1EBFC1;
    font-family: 'Poppins', sans-serif;
}

/* Common */
.main-content {
    width: 1170px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #2F3A3B;
}

.btn {
    padding: 20px 41px 21px;
    display: inline-block;
    border-radius: 14px;
    background: #2AC9BF;
    color: #fff;
}

.small-title {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #767E7E;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.6;
}

.big-title {
    margin: 18px 0;
    max-width: 577px;
    color: #0D1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33;
}

/* Header */
.header.fixed-header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
}

.header .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 57px 0 56px;
    height: 90px;
}

.menu .menu-list {
    display: flex;
    gap: 39px;
}

.menu-list .menu-item a {
    display: inline-block;
    font-weight: 400;
}

.menu-list .menu-item a::before {
    content: attr(title);
    display: block;
    font-weight: 600;
    font-size: 1.6rem;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.menu-list .menu-item:hover a {
    font-weight: 600;
    font-size: 1.6rem;
}

.btn-group .btn-signin {
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.btn-group .btn-signin::before {
    content: "Sign in";
    display: block;
    font-weight: 600;
    height: 0;
    visibility: hidden;
}

.btn-group .btn-signin:hover {
    font-weight: 600;
}

.btn-group .btn-signup {
    margin-left: 14px;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    background-color: #fff;
    padding: 12px 24px;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.btn-group .btn-signup:hover {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: #fff;
    transition: all 0.5s ease;
}

/* Banner */
.banner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 79px;
}

.banner-content {
    margin-top: 93px;
    max-width: 458px;
}

.banner-content .easy-desc {
    color: #767E7E;
    font-size: 1.4rem;
    font-weight: 400;
}

.banner-content .banner-title {
    color: #0D1111;
    font-family: Poppins;
    font-size: 6.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    margin: 18px 0 46px;
}

.banner-content .desc {
    max-width: 374px;
    color: #9DA6A5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77;
    margin-bottom: 52px;
}

.banner-content .btn-group {
    display: flex;
    align-items: center;
    gap: 50px;
}

.banner-content .btn-group .btn-play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
}

.illustrating-images .banner-image img {
    width: 576px;
    max-height: 631px;
    object-fit: cover;
    object-position: center;
}

.illustrating-images {
    position: relative;
}

.illustrating-images .course-icon,
.illustrating-images .schedules-icon,
.illustrating-images .active-students {
    position: absolute;
}

.illustrating-images .course-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    top: 149px;
    left: -40px;
    padding: 17px 25px 18px;
    border-radius: 18px;
    background: #FEFEFD;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.illustrating-images .course-icon .icon-image::before {
    content: "";
    display: block;
    position: relative;
    left: 4px;
    top: 31px;
    height: 4px;
    width: 28px;
    border-radius: 5px;
    background: #fff;
}

.illustrating-images .course-icon .desc-icon,
.illustrating-images .schedules-icon .desc-icon,
.illustrating-images .active-students .desc-icon {
    color: #0D1111;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.6;
}

.illustrating-images .course-icon .desc-icon,
.illustrating-images .schedules-icon .desc-icon {
    max-width: 55px;
}

.illustrating-images .schedules-icon {
    left: -66px;
    bottom: 65px;
    border-radius: 24px;
    padding: 16px 25px 23px;
    background: #FFF;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.illustrating-images .schedules-icon .desc-icon {
    margin: 0 auto;
    padding-bottom: 16px;
}

.illustrating-images .schedules-icon img {
    display: block;
    padding-bottom: 12px;
    margin: 0 auto;
}

.illustrating-images .schedules-icon img:last-child {
    padding-bottom: 0;
}

.illustrating-images .students-image {
    display: flex;
    margin-top: 8px;
}

.illustrating-images .students-image img,
.illustrating-images .avatar-more {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -7px;
}

.illustrating-images .avatar-more {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 10px;
    font-weight: 600;
    line-height: 1.6;
    background-color: var(--primary-color);
}

.illustrating-images .students-image img:first-child {
    margin-left: 0;
}

.illustrating-images .active-students {
    right: 45px;
    bottom: 41px;
    padding: 17px 35px;
    border-radius: 24px;
    background: #FEFEFD;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

/* Features */
.features {
    padding: 130px 0;
}

.features .desc-features,
.courses .desc-courses,
.started .desc-started {
    max-width: 590px;
    color: #767E7E;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 80px;
}

.features .features-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features .feature-item {
    flex: 1;
}

.features .feature-item-title {
    margin: 26px 0 16px;
    color: #0D1111;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.6;
}

.features .feature-item-desc {
    max-width: 233px;
    color: #9DA6A5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.68;
}

.features .feature-item:first-child .feature-item-desc {
    max-width: 168px;
}

/* Courses */
.popular-courses {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-courses .view-all-courses {
    margin-bottom: 80px;
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.6;
    text-decoration-line: underline;
    cursor: pointer;
}

.courses .courses-group {
    display: flex;
    gap: 47px;
    padding-bottom: 389px;
}

.courses .courses-group .course-item {
    position: relative;
}

.courses-group .course-item .course-image img {
    max-width: 359px;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.35;
    background: #D0EFED;
}

.courses-group .course-item .course-info {
    position: absolute;
    left: 17px;
    bottom: -127px;
    width: 325px;
    height: 195px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    padding: 18px 25px 29px;
    cursor: pointer;
}

.courses-group .course-item:hover img {
    opacity: 0.9;
    transition: all 0.5s ease-in;
}

.courses-group .course-item .course-info {
    transition: transform 0.5s ease;
}

.courses-group .course-item .course-info:hover {
    transform: translateY(-50px);
}

.courses-group .course-info .course-name {
    color: #0D1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.6;
}

.courses-group .course-info .course-fee {
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin: 16px 0 6px;
}

.courses-group .course-fee .course-title {
    color: #767E7E;
    font-size: 1.6rem;
    font-weight: 400;
}

.courses-group .course-fee .course-price {
    color: #0D1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses-group .course-info .course-desc {
    color: #9DA6A5;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 18px;
}

.courses-group .course-info .course-train {
    display: flex;
}

.courses-group .course-train .course-class,
.courses-group .course-train .course-time {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: #9DA6A5;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
}

.courses-group .course-train .course-class::before,
.courses-group .course-train .course-time::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
    margin-right: 10px;
}

.courses-group .course-train .course-time::before {
    margin-left: 10px;
}

/* Countdown */
.countdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 264px;
}

.countdown .countdown-data {
    color: #0D1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.6;
}

.countdown .countdown-title {
    color: #767E7E;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6;
}

/* Feedback */
.feedback {
    display: flex;
    gap: 72px;
    padding-bottom: 130px;
}

.feedback .testimonial-list {
    max-width: 419px;
    padding: 37px 0;
}

.feedback .testimonial-list .double-quotes img {
    width: 36px;
}

.feedback .testimonial-list .testimonial {
    color: #5D6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 27px 0 33px;
}

.feedback .testimonial-list .responder {
    color: #767E7E;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 52px;
}

.feedback .testimonial-list .responder .name-student {
    color: #070707;
    font-weight: 600;
}

.feedback .testimonial-list .control-btn-group {
    display: flex;
    gap: 30px;
}

.feedback .control-btn-group .previous,
.feedback .control-btn-group .next {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.feedback .list-avatar-students {
    flex: 1;
    position: relative;
}

.feedback .list-avatar-students img {
    position: absolute;
    width: 78px;
    height: 78px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .list-avatar-students img:first-child {
    top: 0;
    left: 144px;
    width: 92px;
    height: 92px;
}

.feedback .list-avatar-students img:nth-child(2) {
    top: 19px;
    right: 0;
    width: 110px;
    height: 110px;
}

.feedback .list-avatar-students img:nth-child(3) {
    top: 107px;
    right: 171px;
    width: 235px;
    height: 235px;
}

.feedback .list-avatar-students img:nth-child(4) {
    left: 0;
    bottom: 145px;
}

.feedback .list-avatar-students img:nth-child(5) {
    right: 389px;
    bottom: 0;
}

.feedback .list-avatar-students img:last-child {
    right: 32px;
    bottom: 29px;
}

/* Get started */
.started {
    background: #DEF6F5;
    padding: 76px 0 88px;
}

.started .main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.started .desc-started {
    margin-bottom: 0;
}
/* Test */
.main {
    height: 5000px;
}